<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<http use-expressions="true">
		
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin.*/**" access="hasRole('ROLE_ADMIN')" />
		
		<!-- login-processing-url is used to alternate for '/j_spring_security_check' -->
		<form-login login-page="/login" 
					login-processing-url="/auth/login_check"
					default-target-url="/welcome"
				    authentication-failure-url="/login?error"
					username-parameter="username"
				    password-parameter="password" 
				    authentication-success-handler-ref="handler" />
		<!-- 'form-login' is basically a shorthand for 'UsernamePasswordAuthenticationFilter' -->		    
		
		<!-- Here, by default the 'logout-url' is '/j_spring_security_logout' -->		    
		<logout logout-success-url="/login?logout" delete-cookies="JSESSIONID" />	
		
		<csrf />	    
		
		<remember-me remember-me-parameter="remember-me"
					 token-validity-seconds="1209600" 
					 data-source-ref="dataSource" />
					 
		<!-- 'token-validity-seconds' : we have validity of the token in seconds. 1209600 corresponds to 2 weeks.
		    'remember-me-parameter' : The name of the check box. Defaults to _spring_security_remember_me -->				 
		
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
			users-by-username-query="select * from users_cookie where username=?"
			authorities-by-username-query="select username, role from user_roles_cookie where username=?"/>
		</authentication-provider>
	</authentication-manager>

	
</beans:beans>	